<header>
    <nav>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/franchise">Franchise Program</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
