<header>
    <a href="/" class="logo">
        <img src="logo.png" alt="STONE Logo">

    </a>
    <nav>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/franchise">Franchise Program</a></li>
            <li><a href="/franchise">Franchise Benefits</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="search-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </nav>
</header>