body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 40px;
    height: 73vh;
    text-align: center;
    background: #EFE4D2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #0026A3;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact .contact_content {
    max-width: 50%;
}

.contact_content h1 {
    font-size: 36px;
    color: #0026A3;
}

.contact_content p {
    font-size: 16px;
    color: #666;
}

form {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0026A3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0041c4;
}
