/* services.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.services-section {
    display: flex;
    flex-direction: column;
    padding: 40px 20%;
    margin-top: 6%;
}

.services-section h2{
    font-size: 40px;
    color: #6D6E71;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.services-menu-container {
    flex: 1;
    margin-right: 40px;
}

.services-content-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    width: 48vw;
}

.services-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 42px;
    font-size: 20px;
}


.services-menu li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #666;
}

.services-menu li.active {
    color: #0026A3;
    font-weight: bold;
}

.service-content {
    display: none;
    margin: 0;
}

.service-content ul{
    margin: 0;
    text-align: justify;
    line-height: 28px;

}

.service-content.active {
    display: block;
}

@media (max-width: 991px    ) {
    .container {
        flex-direction: column;
        align-items: center;
        align-items: center;
    }

    .services-content-container {
        justify-content: center;
        width: 80%;
        align-items: center;

    }
    .services-section {
        width:  100%;
        padding: 40px 5%;
        justify-content: center;
        align-items: center ;
    }

    .services-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px 20px;
    }

    .services-menu ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}